# python 3.8.7

flask==1.1.2
# NOTE: Newer versions of SQLAlchemy contain a change that breaks Flask-SQLALchemy :-/
#   https://stackoverflow.com/a/66652728
# This wasn't a problem on vm-linux-dev, but manifested itself on the rPi4 (probably because
# the virtualenv on vm-linux-dev was built before this became a problem).
flask-sqlalchemy==2.5.1
psycopg2-binary==2.8.6
alembic==1.4.3
pyyaml==5.3.1
lxml==4.6.2
waitress==2.1.1
