[Author aliases]

Andrew Hershey = Andrew H. Hershey
Andy Goldin = CPT Andy Goldin
Bob Medrow = Robert Medrow
Bruce Bakken = Bruce E. Bakken
Carl Fago = Carl D. Fago
Charlie Kibler = Charles Kibler
Chas Smith = Captain Chas Smith
Chris Doary = Chris "Clouseaux" Doary
Derek Tocher = Derek A. Tocher
Ed Beekman = Edward Beekman
Jeff Shields = Jeffrey Shields
Joe Suchar = Joseph Suchar
John Slotwinski = Dr. John Slotwinski
Jon Mishcon = M. J. Mishcon = M. Johnathon Mishcon
JR Van Mechelen = Jonathan Van Mechelen
Mark Nixon = Mark C. Nixon
Mark Walz = Mark S. Walz
Matt Cicero = Matthew Cicero
Matt Shostak = Matthew Shostak
Michael Dorosh = Michael A. Dorosh
Mike Clay = Dr. Michael Clay
Mike Conklin = Michael Conklin = Michael "6+3" Conklin
Mike Licari = Michael Licari = Michael J. Licari
Paul Venard = Paul J. Venard
Ray Tapio = Raymond J. Tapio
Rex Martin = Rex A. Martin
Robert Seulowitz = Dr. Rob Seulowitz
Robert Walden = Bob Walden
Rob Modarelli = Robert Modarelli = Captain Robert Modarelli III
Roy Connelly = Roy W. Connelly
Russ Bunten = Russell Bunten
Sam Rockwell = Samuel Rockwell
Scott Jackson = Scott "Stonewall" Jackson
Scott Thompson = Scott E. Thompson
Seth Fancher = Seth W. Fancher
Steve Linton = Steven Linton
Steve Pleva = Steven J. Pleva = Steve "Gor Gor" Pleva
Steve Swann = Steve C. Swann = Steven Swann = Steven C. Swann
Tom Huntington = Thomas Huntington
Trevor Edwards = Trev Edwards
