* { margin: 0 ; padding: 0 ; }

body {
    padding: 5px ;
    font-size: 16px ;
    -webkit-font-smoothing: antialiased ;
    -moz-osx-font-smoothing: grayscale ;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child) { margin-top: 0.25em ; }
ul, ol { margin: 0 0 0 1.25em ; }
ul { list-style-image: url("/images/bullet.png") }
ul ul, ol ul { list-style-image: url("/images/bullet2.png") }
input[type="text"] { height: 22px ; border: 1px solid #c5c5c5 ; padding: 2px 5px ; }
label { height: 1.25em ; margin-top: -3px ; }
textarea { padding: 2px 5px ; resize: vertical ; }
pre { font-size: 90% ; }
blockquote {
    margin: .5em 1em .75em 1em ; padding: 5px 5px 5px 15px ;
    border: 1px solid #ddd ; background: #fffff0 ;
    background-image: url( "/images/blockquote.png" ) ; background-position: 2px 5px ; background-repeat: no-repeat ;
    font-style: italic ;
}

button::-moz-focus-inner { border: 0 ; }
