.modal-form .MuiDialog-paper { width: 80% ; max-width: 50em !important ; height: 80% ; }
.modal-form .MuiPaper-rounded { border-top-right-radius: 15px ; }

.modal-form .row { display: flex ; align-items: center ; margin-bottom: 0.25em ; }
.modal-form .row label { margin-top: 3px ; }
.modal-form .row label.select { margin-top: 10px ; }
.modal-form .row input , .row textarea , .row .react-select { flex-grow: 1 ; }

.modal-form .row.image { display: block ; }
.modal-form .row.image img.image { margin-right: 1em ; max-height: 5em ; cursor: pointer ; }
.modal-form .row.image img.remove-image { height: 1em ; margin-left: 0.25em ; cursor: pointer ; }

.modal-form .image-container { position: relative ; display: inline-block ; float: left ; }
.modal-form .image-container img.remove-image { width: 12px ; height: 12px !important ; position: absolute ; top: -5px ; right: 11px ; padding: 2px ; border:1px solid #c00 ; background: #eee ;}
