#publication-form .row label.top { width: 5.75em ; }
#publication-form .row label { width: 3.25em ; }

#publication-form .row.edition input { flex-grow: 0 ; width: 3em ; }
#publication-form .row.description { flex-direction: column ; margin-top: -0.5em ; }
#publication-form .row.description textarea { min-height: 6em ; }
