#search-results { margin-top: 0.5em ; }

.search-result {
    margin: 0.25em 0 ; padding: 0.1em 0.2em ;
    font-size: 90% ;
}

.search-result .name { padding: 2px 5px ; }
.search-result .name a { font-weight: bold ; text-decoration: none ; }
.search-result .name img.edit { margin-left: 0.5em ; height: 0.8em ; cursor: pointer ; }
.search-result .name img.delete { float: right ; margin: 0.2em 0 0 0.5em ; height: 0.8em ; cursor: pointer ; }
.search-result .description { font-size: 80% ; padding: 2px 5px ; }

.search-result.publisher .name { border: 1px solid #c0c0c0 ; background: #a0e0f0 ; }
.search-result.publication .name { border: 1px solid #c0c0c0 ; background: #d0a080 ; }
